.row
  .col-xs-12.event.start
    .image
      = image_tag('i/status-new.png')
    .details
      .who
        %span.bold
          = support.receiver.titleized
        asked for help
      .when
        = support.when_started?
