%section.leaderboard
  .container
    .row
      .col-lg-12
        %h2
          Best supporters!
    .row
      .col-lg-12
        %ol.users
          = render users
      = render 'layouts/back_to_home'
