.container
  .row
    .col-xs-12.col-md-6
      .user_header
        = user.gravatar(60)
        .user_info
          %h1.header-line
            #{user}
          %h3.subheader-line
            helped others
            %strong=user.supports_count
            times

      %ul.user_skills.box--rounded
        - skills.each do |skill|
          %strong.user_skill= render skill
    .col-xs-12.col-md-6
      %ul.supports.box--rounded
        - supports.each do |support|
          = render support
