*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
}

.bold, strong {
  @include font-family($base_font_family, 700);
}

a, a:hover {
  color: $active_color;
}

$headings: (1, 41px),
           (2, 25px),
           (3, 25px),
           (4, 21px),
           (5, 18px);

@each $heading, $font-size in $headings {
  h#{$heading} {
    margin: floor($font-size * 0.6);
    font-size: $font-size;
    color: $base_color;
    line-height: 1.6;
  }
}

h1, h2, h5 {
  @include font-family($base_font_family, 700);
}

h3, h4 {
  @include font-family($light_font_family, 300);
}
