.row
  .col-md-8.col-md-offset-2
    %h2 I can help with:
    %ul.topic_list
      = render partial: 'topic', collection: topics
  .col-md-12
    = link_to root_path, class: 'btn btn-primary' do
      %i.glyphicon.glyphicon-fire
      Back to homepage
