.selection_buttons
  = link_to topics_path, class: 'btn btn-danger' do
    %i.glyphicon.glyphicon-fire
    I need help
  = link_to skills_path, class: 'btn btn-primary' do
    I can help
    %i.glyphicon.glyphicon-heart
