$base_color: #525771;
$second_color: lighten($base_color, 18%);
$active_color: #ffa529;
$border_color: #dce0e4;
$darken_background_color: #8b8e9d;
$dark_background_color: #2f353e;
$light_background_color: #fefefe;
$inversed_base_color: #909db0;
$box_background_color: #edf3f7;

$white: #fff;

$base_font_family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$light_font_family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$bold_font: 700;
$light_font: 300;

$rem_base: 14px;

$font_sizes: (
  fs1: 41px,
  fs2: 29px,
  fs3: 25px,
  fs4: 21px,
  fs5: 18px,
  fs6: 16px,
  fs7: $rem_base,
  fs8: 12px
);
