$base_color: #525771;
$second_color: lighten($base_color, 18%);
$active_color: #ffa529;
$border_color: #dce0e4;
$darken_background_color: #8b8e9d;
$dark_background_color: #2f353e;
$light_background_color: #fefefe;
$inversed_base_color: #909db0;

$white: #fff;

$base_font_family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$light_font_family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$big_font: 56px;
$small_font: $big_font / 2;
$tiny_font: $big_font / 5;

$bold_font: 700;
$light_font: 300;
