$base_color: #525771;
$active_color: #ffa529;
$border_color: #dce0e4;

$white: #fff;

$base_font_family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$big_font: 56px;
$small_font: $big_font / 2;
