@mixin button-size($v-padding, $h-padding, $font-size, $border-radius, $line-height) {
  @include font-size($font-size);
  padding: $v-padding $h-padding;
  border-radius: $border-radius;
  line-height: $line-height;
}

@mixin button-color($text, $background) {
  background: $background;
  color: $text;
  &:hover {
    background: lighten($background, 7%);
    color: $text;
    text-decoration: none;
  }
}

.btn {
  @extend .bold;
  @include button-color(color('white'), color('active'));
  @include button-size(10px, 15px, 13px, 4px, 16px);
  border: 1px solid transparent;
  white-space: nowrap;
  display: inline-block;

  &--lg {
    @include button-size(20px, 30px, 19px, 6px, 22px);
  }
  &--block {
    width: 100%;
    text-align: center;
    display: block;
  }
}
