@mixin item-color($label, $background, $border) {
  border: 2px solid $border;
  background: $background;
  color: $label;
  .item__label {
    color: $label;
  }
  .item__count {
    background: $label;
    color: $background;
  }
}

.item {
  @include item-color(color('active'), color('white'), color('border'));
  @extend .bold;
  @include font-size(fs(5));
  margin-bottom: 27px;
  padding: 23px 20px;
  width: 100%;
  border-radius: 4px;
  display: block;
  &__label {
    @extend .pull-left;
  }
  &__count {
    @extend .pull-right;
    @extend .bold;
    @include font-size(fs(7));
    padding: 1px 7px;
    border-radius: 4px;
    display: inline-block;
  }
  &:hover, &.active {
    @include item-color(color('white'), color('base'), color('base'));
  }
  @include clearfix();
}
