@mixin item-color($label, $background, $border) {
  border: 2px solid $border;
  background: $background;
  color: $label;
  .item__label {
    color: $label;
  }
  .item__count {
    background: $label;
    color: $background;
  }
}

.item {
  @include item-color($active_color, $white, $border_color);
  @extend .bold;
  margin-bottom: 27px;
  padding: 23px 20px;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  display: block;
  &__label {
    @extend .pull-left;
  }
  &__count {
    @extend .pull-right;
    @extend .bold;
    padding: 1px 7px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
  }
  &:hover, &.active {
    @include item-color($white, $base_color, $base_color);
  }
  @include clearfix();
}
