.markdown-panel {
  position: relative;
  border: 2px solid $border_color;
  border-radius: 5px;
  .arrow {
    position: absolute;
    top: 20px;
    left: -9px;
    width: 15px;
    height: 15px;
    border: 2px solid $border_color;
    -webkit-transform: rotate(45deg);
    transform: rotate(90deg);
    border-right: none;
    border-top: none;
    background: white;
  }

  .markdown-heading {
    position: absolute;
    top: 10px;
    right: 0;
    #write-tab {
      background: image-url('icons/pencil.png') 0 0 no-repeat;
    }

    li.active #write-tab, li:hover #write-tab {
      background: image-url('icons/pencil-hover.png') 0 0 no-repeat;
    }

    #preview-tab {
      background: image-url('icons/eye.png') 0 0 no-repeat;
    }

    li.active #preview-tab, li:hover #preview-tab {
      background: image-url('icons/eye-hover.png') 0 0 no-repeat;
    }

    ul {
      @extend .nav;
      @extend .nav-tabs;
      border-bottom: none;
      text-decoration: none;
      margin: 0;

      li {
        &.active {
          .action-icon, .action-icon:hover { border: none; }
        }
        .action-icon {
          border: none;
          &:hover {
            background: none;
            border-color: transparent;
          }
        }
      }
    }
  }

  .markdown-content {
    @extend .panel-body;
    @extend .tab-content;
    padding: 0px;

    #preview-content {
      min-height: 200px;
      padding: 15px;
      font-size: 16px;
      p {
        margin: 0;
      }
    }

    .form-group {
      margin-bottom: 0;
    }

    textarea {
      min-height: 200px;
      max-height: 600px;
      font-size: 16px;
      resize: vertical;
      box-shadow: none;
      border: none;
      padding: 15px;
      &:focus {
        box-shadow: none;
        border: none;
      }
    }
  }
}
