.navbar {
  @extend %border-bottom;
  background: $white;
  .nav {
    > li > a {
      @extend .bold;
      color: $base_color;
      background: none;
      &:hover {
        color: $active_color;
      }
    }
  }
  &-brand {
    @include square(24px);
    margin-top: 10px;
    text-indent: -2000px;
    background: image-url('logo/help_24px.png') no-repeat center center;
    display: inline-block;
  }
  &-avatar {
    @include circle(36px);
    margin-top: 6px;
  }
}
