.navbar {
  @extend %border-bottom;
  background: $white;
  .nav {
    > li > a {
      @extend .bold;
      color: $base_color;
      background: none;
      &:hover {
        color: $active_color;
      }
    }
  }
}
