$box_offset: 200px;
.home {
  .intro {
    padding: 77px 0 77px + $box_offset 0;
    background: image-url('home/pattern.png') color('dark-bg');
  }
  h3 {
    @extend .text-center;
    padding-bottom: 15px;
    color: color('inv-base');
    strong {
      color: color('active');
    }
  }
  h2 {
    margin-top: 60px;
    text-align: center;
  }
}

.requests {
  padding-bottom: 50px;
}

.supports-list {
  padding: 0;
  border-radius: 5px;
  margin-top: -$box_offset;
  min-height: $box_offset + 20px;
  background: color('white');
}

.box__tab {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.home_back {
  margin: 40px 0;
}
