.home {
  $box_offset: 200px;
  .intro {
    padding: 77px 0 77px + $box_offset 0;
    background: image-url('home/pattern.png') $dark_background_color;
  }
  h3 {
    @extend .text-center;
    padding-bottom: 15px;
    color: $inversed_base_color;
    strong {
      color: $active_color;
    }
  }
  h2 {
    margin-top: 60px;
    font-size: $small_font;
    text-align: center;
  }
  .requests {
    padding-bottom: 50px;
    .box {
      @extend %border-full;
      margin-top: -$box_offset;
      min-height: $box_offset + 20px;
      background: $white;
      border-color: rgba($dark_background_color, .1);
      border-radius: 5px;
    }
  }
}
.home_back {
  margin: 40px 0;
}
