// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  h1 {
    text-align: center;
    font-size: $big_font * 2;
  }
  h2 {
    margin-top: 60px;
    font-size: $small_font;
    text-align: center;
  }
}
.home_back {
  margin-top: 40px;
}
