.supports {
  .support_header {
    text-align: center;
    margin-top: 20px;
    font-size: $small_font;
    a.btn {
      font-size: $small_font;
    }
  }

  .comments {
    padding: 0px 20px;
    .panel-title {
      display: inline;
    }
    .panel-body {
      padding-top: 0;
      padding-bottom: 0;
    }
    .list-group-item:hover {
      background-color: #EEE;
    }
    .new_comment_form {
      padding: 25px;
    }
  }
}
ul.supports {
  list-style: none;
  text-align: center;
  li {
    margin-top: 5px;
    font-size: $small_font / 2;
  }
}
