.supports {
  .comments {
    .panel-title {
      display: inline;
    }
    .panel-body {
      padding-top: 0;
      padding-bottom: 0;
    }
    .list-group-item:hover {
      background-color: #EEE;
    }
    .new_comment_form {
      padding: 25px;
    }
  }
}
ul.supports {
  list-style: none;
  text-align: center;
  li {
    margin-top: 5px;
    font-size: $small_font / 2;
  }
}

.supporter-panel {
  margin: 20px auto 40px;
  text-align: center;
  a { margin-left: 10px; }
}


@media (min-width: $screen-sm-min) {
  .supporter-panel {
    margin: 40px auto;
    text-align: right;
  }
}

@media (min-width: $screen-md-min) {
  .supporter-panel {
    margin: 40px 0 40px -250px;
    text-align: center;
  }
}
