.supports {
  .support_header {
    text-align: center;
    margin-top: 20px;
    font-size: $small_font;
  }
}
ul.supports {
  list-style: none;
  text-align: center;
  li {
    margin-top: 5px;
    font-size: $small_font / 2;
  }
}
