// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.topic_list, ul.supporters  {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    margin-bottom: 20px;
    font-size: $small_font;
    a, input {
      font-size: $small_font;
      width: 100%;
    }
  }
}

ul.supporters {
  li {
    input {
      @extend .btn;
      @extend .btn-primary;
      font-size: $small_font;
    }
  }
  li:first-child {
    input {
      @extend .btn-success;
      font-size: $small_font;
    }
  }
}
