.leaderboard {
  @extend %border-top;
  -webkit-padding-start: 0;

  .position {
    $position-size: 55px;
    @extend %border-bottom;
    @include font-size(fs(4));
    @include font-family($light_font-family, 300);
    padding: 0 16px 0 0;
    height: $position-size;
    position: relative;
    list-style: none;
    overflow: hidden;

    &__sg {
      @extend .pull-left;
      @include square($position-size);
      display: inline-block;
      text-align: center;
      span {
        @extend %centered-verticaly;
      }
    }
    &__score, &__name {
      line-height: $position-size - 3px;
    }
    &__score {
      @extend .pull-right;
      > span {
        @extend .bold;
      }
    }
    &__name {
      padding-left: $position-size + 18px;
    }
    .user_avatar {
      position: absolute;
      top: 0;
      left: $position-size;
      display: inline;
    }
    a {
      @extend %box-link;
    }

    &:hover {
      background: $box_background_color;
    }

    $platform-colors: (
      1: #fed81c,
      2: #dadada,
      3: #df8612
    );
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) .position__sg span {
        @include circle(28px);
        margin: 0 auto;
        text-indent: -2000px;
        background: map-get($platform-colors, $i) image-url('i/star.png') center center no-repeat;
      }
    }

  }
}
