.users {
  h1 {
    text-align: center;
    font-size: $big_font;
  }
  ol {
    font-size: $small_font;
  }
  .user_header {
    margin-top: 15px;
    .user_info {
      img {
        @extend .pull-left;
        margin-right: 15px;
      }
    }
    .score {
      span {
        font-size: $big_font * 2.5;
      }
    }
  }
  ul.skills {
    list-style: none;
    li {
    }
  }
}

.user_avatar {
  border-radius: 50%;
}
