.users {
  h1 {
    text-align: center;
    font-size: $big_font;
  }
  ol {
    font-size: $small_font;
    li:first-child {
      @extend .text-success;
      a {
        @extend .text-success;
      }
    }
    li:first-child + li {
      @extend .text-primary;
      a {
        @extend .text-primary;
      }
    }
  }
  .user_header {
    margin-top: 15px;
    .user_info {
      img {
        @extend .pull-left;
        margin-right: 15px;
      }
    }
    .score {
      span {
        @extend .text-success;
        font-size: $big_font * 2.5;
      }
    }
  }
}
