= link_to not_done do
  %strong.text-danger
    %i.glyphicon.glyphicon-fire
    #{not_done.receiver}
  asked
  %strong.text-success #{not_done.user}
  for help with
  %strong.text-primary #{not_done.topic}
