.container
  .row
    - flash_alerts.each do |alert|
      .col-xs-12
        .alert{ class: alert.css_class }
          %button.close{ aria: { hidden: 'true' }, data: { dismiss: 'alert' }, type: 'button' } &times;
          %div{ id: alert.id }= alert.msg
